@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    /* -- Cores -- */
    --cor-primaria: #03001C;
    --cor-secundaria: #B6EADA;
    --cor-terciaria: #5B8FB9;
    --cor-hover: #301E67;
    /* -- Fontes -- */
    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.apresentacao {
    align-items: center;
    display: flex;
    gap: 82px;
    justify-content: space-between;
    padding: 8% 20%;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-principal);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__link {
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao__conteudo__link:hover {
    color: var(--cor-hover);
    text-decoration: none;
}

.apresentacao__links {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-secundaria);
    gap: 22px;
    justify-content: space-between;
}

.apresentacao__links__navegacao {
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    color: var(--cor-secundaria);
    display: flex;
    align-items: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    gap: 8px;
    justify-content: center;
    padding: 16px 0;
    text-align: center;
    text-decoration: none;
    width: 50%;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
    transition: .3s;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.5rem;
}

body {
    background-color: var(--cor-primaria);
    box-sizing: border-box;
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 20%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao__imagem {
    border-radius: 2rem;
    width: 50%;
}

.apresentacao__imagem:hover {
    opacity: .7;
    transition: .3s;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    padding: 24px;
}

@media (max-width: 1400px) {
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }
}