@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.inicio_post {
    position: absolute;
    top: 3em;
    right: 3em;
    height: 6em;
    padding: 1em;
}
.foto-home {
    height: 200px;
}

.eficiencia {
    position: absolute;
    top: 10%;
    left: 85%;
    font-family: 'Shadows Into Light', cursive;
    color: #D5447E;
}

.boas-praticas {
    position: absolute;
    top: 25%;
    left: 63.5%;
    font-family: 'Shadows Into Light', cursive;
    color: #D5447E;
}

.codigo-limpo {
    position: absolute;
    top: 25%;
    left: 84.5%;
    font-family: 'Shadows Into Light', cursive;
    color: #D5447E;
}

.css3 {
    position: absolute;
    top: 10%;
    left: 65%;
    font-family: 'Shadows Into Light', cursive;
    color: #D5447E;
}

.html5 {
    position: absolute;
    top: 35%;
    left: 75%;
    font-family: 'Shadows Into Light', cursive;
    color: #D5447E;
}

.javascript {
    position: absolute;
    top: 17%;
    left: 75%;
    font-family: 'Shadows Into Light', cursive;
    color: #D5447E;
}

.acessibilidade {
    position: absolute;
    top: 10%;
    right: 70%;
    font-family: 'Shadows Into Light', cursive;
    color: #D5447E;
}

.responsivo {
    position: absolute;
    top: 10%;
    right: 70%;
    font-family: 'Shadows Into Light', cursive;
    color: #D5447E;
}

.otimizacoes {
    position: absolute;
    top: 25%;
    right: 70%;
    font-family: 'Shadows Into Light', cursive;
    color: #D5447E;
}

.agilidade {
    position: absolute;
    top: 15%;
    right: 80%;
    font-family: 'Shadows Into Light', cursive;
    color: #D5447E;
}

.design {
    position: absolute;
    top: 20%;
    right: 75%;
    font-family: 'Shadows Into Light', cursive;
    color: #D5447E;
}

.saudacao p {
    font-size: 1.5em;
    color: #99A;
    line-height: 1;
    padding: 2em;
}
.saudacao-inicio {
    font-size: 3em;
    color: #889;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao strong {
    font-size: 2em;
    color: #000;
}
.saudacao em {
    color: #851944;
    font-size: 4em;
}
.botao-index {
    font-size: 1.25em;
    background-color: #851944;
    color: #FFF;
    padding: .5em;
    border: .2em solid black;
    width: 40ch;
    margin: 2em auto;
    display: block;
    text-align: center;
}
.secao-inicio {
    padding: 2em;
}
.secao-inicio h2 {
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: .5em;
}
.trabalhos {
    background-color: #3C1D3D;
    border-top: .5em solid #000;
    border-bottom: .5em solid #000;
}
.trabalhos h2 {
    color: #FFF;
}
.trabalhos ul {
    overflow: hidden;
    border: .5em solid black;
}
.trabalhos li {
    float: left;
    width: 33.333%;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: .5em solid #851944;
    position: relative;
}
.blog small {
    position: relative;
    top: -2em;
}
.blog li a {
    color: #FCF;
    padding: .5em;
    display: block;
}
footer {
    background-color: #000;
    color: #FFF;
    padding: 2em;
}
footer h2 {
    font-size: 3em;
}
footer a {
    color: #F99;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}

