/* Cabeçalho */

.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

/* Rodapé */

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}