@media screen and (min-width: 0) {
    .destaques__principal, .destaques__categorias  {
        grid-column: 1 / 5;
    }

    .destaques__secundario:nth-child(2) {
        display: none;
        grid-column: none;
        grid-row: none;
    }
    .destaques__secundario:nth-child(3) {
        display: none;
        grid-column: none;
        grid-row: none;
    }
    .destaques__secundario:nth-child(4) {
        display: none;
        grid-column: none;
        grid-row: none;
    }
    .destaques__secundario:nth-child(5) {
        display: none;
        grid-column: none;
        grid-row: none;
    }
}

@media screen and (min-width: 760px) {
    
}

@media screen and (min-width: 990px) {
    
}

@media screen and (min-width: 1200px) {

}