:root{
    /* -- [Cores] -- */
    --cor1: #E9ECF5;
    --cor2: #CCD6EB;
    --cor3: #A3C3D9;
    --cor4: #AE76A6;
    --cor5: #32213A;
    /* -- [Fontes] -- */
    --font1: monospace;
    --font2: Arial, Helvetica, sans-serif;
    --font3: fantasy;
    --font4: cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--cor1);

}

/* -- [Cabeçalho] -- */

.cabecalho {
    width: 100vw;
    height: 10em;
    background-color: var(--cor3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    
}

.titulo__cabecalho {
    margin-left: 3em;
    font-size: 3em;
    font-family: var(--font1);
    font-weight: 900;
    text-decoration: none;
    color: var(--cor1);
}

.titulo__cabecalho:hover {
    color: var(--cor5);
    transition: 500ms;
}

.menu__cabecalho{
    font-size: 1.5em;
    margin-right: 3em;
    display: flex;
    gap: 2em;
}

.item-menu__cabecalho {
    font-weight: 700;
    font-family: var(--font2);
    text-decoration: none;
    color: var(--cor1);
}

.item-menu__cabecalho:hover {
    color: var(--cor4);
    transition: 500ms;
}






/* -- [Conteúdo] -- */
.conteudo {
    width: 1700px;
    height: 74vh;
    background-color: var(--cor2);
    display: block;
    margin: 0 auto;
    text-align: center;

}


/*  -- [Rodapé] -- */
.rodape {
    background-color: var(--cor5);
    height: 5em;
}

.parafrago__rodape {
    font-family: var(--font1);
    color: var(--cor1);
    text-align: center;
    font-size: 2em;
    font-weight: 700;
}