body {
    background-color: #f2fffc;
    font-family: "Crimson Text", serif;
    font-size: 20px;
}
main h1 {
    font-size: 60px;
    background-color: #851944;
    color: #f2fffc;
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
    padding: 25px;
    box-sizing: border-box;
}
h2 {
    font-size: 40px;
    font-family:  "Open Sans Condensed", sans-serif;
}
p {
    text-align: justify;
}
blockquote {
    background-color: #d3ddda;
    padding: 16px;
    border: 10px solid #c2ccca;
    width: 250px;
    margin: 0;
}
blockquote, aside, footer {
    padding: 20px;
}
