body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
}

main h1 {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 60px;
    text-align: center;
    background-color: #851944;
    color: #f2fffc;
    border-bottom: 10px solid black;
    text-align: center;
    padding: 25px;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 40px;
    font-family:  "Open Sans Condensed", sans-serif;
}

h1, h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

main p {
    text-align: justify;
    margin: 20px 0;
}

main a {
    color: #851944;
}

blockquote {
    background-color: #D9E5E3;
    border-bottom-color: #333;
    border-right-color: #FFF;
    border: 10px solid ;
    padding: 16px;
    width: 250px;
    margin:20px 40px;
}

ul {
    list-style-type:none;
}

main div {
    width: 720px;
    margin: auto;
    padding: 30px 0;
}

aside {
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
}

aside h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

footer {
    background-color: #000;
    color: #F2FFFC;
}

nav a {
    color: #F2FFFC;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
	text-decoration: none;
}

aside {
    background-color: #3C1D3D;
    color: #F2FFFC;	
}

blockquote, aside, footer {
    padding: 20px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

article {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.leia-mais {
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #E6E7E8;
}